.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    /* grid-gap: 10px; */
    grid-template-areas:
        "header"
        "nav"
        "about"
        "experience"
        "skills"
        "projects"
        "message_form"
        "messages"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    margin: 5px;
}

#about {
    grid-area: about;
}

#experience {
    grid-area: experience;
}

#skills {
    grid-area: skills;
}

#message_form {
    grid-area: message_form;
}

#messages {
    grid-area: messages;
    display: none;
}
#projects {
    grid-area: projects;
}

footer {
    grid-area: footer;
}


@media (min-width: 1040px) {
    .container {
        grid-template-columns: 3fr 3fr 1fr;
        grid-template-rows: auto auto 2fr 1fr auto 60px;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "about experience skills"
            "message_form projects projects"
            "messages messages messages"
            "footer footer footer";
    }
    nav {
        display: none;
    }
}