@font-face {
    font-family: 'varela_roundregular';
    src: url('fonts/varelaround-regular-webfont.woff2') format('woff2'),
         url('fonts/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'varela_roundregular';
    font-size: 16px;
    line-height: 2em;
    background-color:rgb(217, 244, 254);
    margin:5px
}

section {
    background-color: rgb(246, 254, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    margin: 5px;
}

.container {
    flex-grow: 1;
}

h1 {
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

header {
    display: flex;
    position: static;
    align-items: center;
    background-color: rgb(246, 254, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
#avatar {
    object-fit: cover;
    justify-self: left;
    border-radius:50%;
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

 .heading {
    color:rgb(147, 226, 255);

    font-weight: bold;
}

p {
    display: block;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color:rgb(217, 244, 254);
}

.card {
    align-content: initial;
    background-color: rgb(235, 235, 235);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}

.skill {
    color: blue;
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid blue;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
}

#skills {
    flex-wrap: wrap;
}

input, textarea {
    font: inherit;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}
.field {
    display: block;
    max-width: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field_inline {
    display: inline-block;
    margin-right: 1rem;
}

.field_input {
    margin-bottom: 1rem;
}

.field_label,
.field_input {
  display: block;
}

button {
    font-family : inherit;
    font-size: 1em;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.submitButton {
    background-color:lightskyblue;
}

.submitButton:hover {
    background-color: lightblue;
}

#editButton {
    background-color:rgb(255, 224, 173);
    margin-right: 0.5em;
}

#editButton:hover {
    background-color:papayawhip;
    margin-right: 0.5em;
}

#removeButton {
    background-color: coral;
}

#removeButton:hover {
    background-color: rgb(255, 160, 125);
}

#topButton {
    display: none;
    position: fixed;
    bottom: 46px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  
  #topButton:hover {
    background-color: lightblue;
  }

footer {
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color:rgb(217, 244, 254);
}

.social_icons {
    padding: 10px;
}


@media screen and (min-width: 1404px) {
    .field {
        width: 32rem;
    }
    
    .field_inline {
        width:15.4rem;
    }
}