@font-face {
    font-family: 'varela_roundregular';
    src: url('fonts/varelaround-regular-webfont.woff2') format('woff2'),
         url('fonts/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'varela_roundregular';
    font-size: 16px;
    line-height: 2em;
    background-color:rgb(217, 244, 254);
    margin:5px
}

section {
    background-color: rgb(246, 254, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    margin: 5px;
}

.container {
    flex-grow: 1;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(246, 254, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;    
}
#avatar {
    /* object-fit: cover; */
    justify-self: left;
    border-radius:50%;
    width: 100px;
    height: 100px;
    margin-right: 7px;
}

.heading {
    color:rgb(0, 0, 0);
    font-weight: bold;
}

/* section {
    margin-top:2em;
} */
nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background-color:rgb(217, 244, 254);
}

.experience {
    align-content: initial;
    background-color: rgb(235, 235, 235);
    border: 1px;
    border-radius: 5px;
    padding: 5px;
}

.skill {
    color: blue;
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid blue;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
}

#skills {
    flex-wrap: wrap;
}

h2 {
    font-size: 15px;
}

form {
    padding: 10px;
}

label {
    font-size: 13px;
}

input {
    width: ;
}

textarea {
    width:fit-content;
    height: 100px;
}
button {
    font-size: 16px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.submitButton {
    background-color:lightskyblue;
    border-radius: 5px;
}

.submitButton:hover {
    background-color: lightblue;
    border-radius: 5px;
}

#editButton {
    background-color:rgb(255, 224, 173);
    margin-right: 0.5em;
}

#editButton:hover {
    background-color:papayawhip;
    margin-right: 0.5em;
}

#removeButton {
    background-color: coral;
    border-radius: 5px;
}

#removeButton:hover {
    background-color: rgb(255, 160, 125);
    border-radius: 5px;
}

footer {
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color:rgb(217, 244, 254);
}

.social_icons {
    padding: 10px;
}

/* @media screen and (max-width: 480px) {
    
    .experience {
        width: 100%;
    }
    
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

} */

/* @media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 1200px) {
    
} */
